.sectionabout{
    margin-top: 60px;
}
.flex-collum{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.frinedlytext{
    font-size: 25px;
    color: var(--primary-color);
    font-weight: lighter;
    margin: 0;
}
.bestfood{
    margin: 0;
    font-size: 100px;
    font-weight: 800;
    color: var(--primary-color);
    max-width: 820px;
    text-align: center;
}
.imggg{
    width: 890px;
    height: 620px;
    background-color: rgb(77, 77, 77);
    margin-top: -50px;
}