.color{
    background-color: #201E25;
    padding: 60px 0;
    border-radius: 10px;

}
.colordiff{
    background-color: rgb(0, 0, 0);
    width: 750px;
    height: 600px;
    padding: 60px 30px;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.colordiff p, h4{
    color: white;
}
.vyplnudaje{
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}
.formular{
    width: 360px;
}
.formular input{
    width: 100%;
    height: 37px;
    background-color: #131217;
    border: none;
    border-radius: 10px;
    padding-left: 6px;
}
.formular p{
    color: white;
    font-size: 14px;
}
.podsebou{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.flexicek{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.flexicek p{
    margin: 0;
}
.flexicek img{
    width: 25px;
    height: 25px;
}
.send{
    margin-top: 40px;
    width: 364px;
    height: 40px;
    background-color: var(--yellow-color);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}
textarea {
  height: 140px;
  vertical-align: top; 
  padding-top: 10px;    
  padding-left: 10px;
  resize: none;
  width: 100%;  
  background-color: #131217;    
  border: none;
  border-radius: 10px;
  color: white;

}
