.color{
    background-color: #201E25;

}
.colordiff{
    background-color: rgb(0, 0, 0);
    width: 750px;
    padding: 10px;
}
.colordiff p, h4{
    color: white;
}
.vyplnudaje{
    font-size: 40px;
    font-weight: 600;
}
.formular{
    width: 360px;
}
.podsebou{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.flexicek{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.flexicek p{
    margin: 0;
}
.flexicek img{
    width: 25px;
    height: 25px;
}
