.contactus{
    font-size: 100px;
    font-weight: 700;
    color: var(--primary-color);

}
.anotherone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 380px; 
    width: 100%;
    gap: 40px;
}
.map{
    width: 100%;
    height: 380px;
    background-color: rgb(46, 46, 46);
}
.gap{
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100%;
    justify-content: center;
}
.width450px{
    flex: 0 0 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.width600px{
    flex: 0 0 600px;
}
.wheretofindus{
    font-size: 40px;
    margin: 0;
    font-weight: 500;
    color: var(--yellow-color);
}
.opentime{
    font-size: 30px;
    margin: 0;
    color: var(--primary-color);
}
.timing{
    color: var(--primary-color);
}