.sectionheader{
    padding: 20px 60px;
}
.headersection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.headertextflex{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.headettext{
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color)
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:var(--primary-color)
}
.nameofplace{
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 500;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}