.containerwholeimg{
    margin-left: auto;
    margin-right: auto;
}
.mainsection{
    background-image: url("/imgs/pizza.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 470px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.maintext{
    font-size: 100px;
    font-weight: bold;
    margin: 0;
    color: var(--primary-color);
    max-width: 660px;
    text-align: center;
}

.slide-up {
  opacity: 0;
  transform: translateY(30px);
  animation: slideUp 0.8s ease-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-up{
    animation: fadeUp both;
    animation-timeline: view();

}
@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(10px) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}