.containerwholeimg{
    margin-left: auto;
    margin-right: auto;
}
.mainsection{
    background-image: url("/imgs/pizza.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 470px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.maintext{
    font-size: 100px;
    font-weight: bold;
    margin: 0;
    color: var(--primary-color);
    max-width: 660px;
    text-align: center;
}

@media (max-width: 991px) {
  .maintext{
    font-size: 80px;
  }
  .mainsection{
    height: 400px;
  }
}
