.smallermarginek{
    margin-bottom: 0px;
}
.ourmenu{
    font-size: 20px;
    font-weight: 500;
    color: var(--yellow-color);
    margin: 20px 0;
}
.findourmenu{
    max-width: 800px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: var(--primary-color);
    margin: 0;
}
.menu{
    margin-top: 75px;
    width: 1050px;
    height: 1180px;
    background-color: #18171C;
}
.phonee{
    width: 102px;
    height: 102px;
}
