.abouth3{
    font-size: 100px;
    font-weight: 800;
    color: var(--primary-color);
    margin: 0;
}
.abouttext{
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    max-width: 780px;
    color: var(--grey-color);
}
.podnadpisflex{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.podnadpisekk{
    margin: 0;
    font-size: 35px;
    font-weight: 500;
    color: var(--yellow-color);
}
.podnapisekktextik{
    margin: 0;
    font-size: 21px;
    font-weight: 400;
    color: var(--primary-color);
    max-width: 600px
}
.margin-top{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.grey{
    width: 300px;
    height: 300px;
    background-color: grey;
}