.section2{
    margin-top: 20px;
}
.twocollumgrid{
    display: grid;
    grid-template-columns: 240px 400px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.callus{
    background-color: var(--yellow-color);
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    height: 60px;
}
.textnexttobtn{
    font-size: 12px;
    max-width: 400px;
    color: var(--grey-color)
}
@media (max-width: 991px) {
    .twocollumgrid{
        grid-template-columns: 220px 380px;
    }
    .callus{
        font-size: 18px;
        height: 55px;
    }
}