:root{
    --primary-color: #FEEFDA;
    --secondary-color: #131217;
    --yellow-color: #FFC500;
    --grey-color: #A9A9A9;
}
body{
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}
.section{
    padding: 60px;
}
.container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.slide-up {
  opacity: 0;
  transform: translateY(30px);
  animation: slideUp 0.8s ease-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-up{
    animation: fadeUp both;
    animation-timeline: view();

}
@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(10px) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
.autoshow{
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}
@keyframes text-appear {
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
    
}
.image-reveal{
    animation: imageReveal Both;
    animation-timeline: view(50% 20%);
}
@keyframes imageReveal{
    from{
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }
    to{
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}
