.nabidka{
    display: flex;
    flex-direction: column;
}
.row{
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
    opacity: 12%;
}
.things{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.lineup{
    height: 50px;
    width: 1px;
    background-color: var(--primary-color);
    opacity: 12%;
}
.textwithimg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.imgs{
    max-width: 39px;
    max-height: 39px;
}
.pizzasclass{
    font-size: 35px;
    font-weight: 600;
    color: var(--primary-color);
}
.fotky {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 30px;
    justify-content: center;
}

.fotky img {
  width: 100%;
}